{{- if .Doubles}}
2B - {{.Doubles}}{{end}}
{{- if .Triples}}
3B - {{.Triples}}{{end}}
{{- if .HRs}}
HR - {{.HRs}}{{end}}
{{- if .SBs}}
SB - {{.SBs}}{{end}}
{{- if .Walks}}
BB - {{.Walks}}{{end}}
{{- if (gt .Total.LOB 0)}}
LOB - {{.Total.LOB}}{{end}}
{{- if .ErrorsList}}
Errors -{{.ErrorsList}}{{end}}
