{{.Game.Visitor.Name}} at {{.Game.Home.Name}} {{.Game.Date}} game {{.Game.Number}}

{{.InningScoreTable}}
{{paste .VisitorLineup.BattingTable .HomeLineup.BattingTable 1 44}}
{{paste (execute "batting.tmpl" .VisitorLineup) (execute "batting.tmpl" .HomeLineup) 1 44}}
{{- paste .VisitorLineup.PitchingTable .HomeLineup.PitchingTable 1 -44}}
{{paste (execute "pitching.tmpl" .VisitorLineup) (execute "pitching.tmpl" .HomeLineup) 1 44}}
{{if (not (or .IncludePlays .IncludeScoringPlays))}}
{{- range .Comments}}{{.Half}} {{ordinal .Inning}}, {{.Outs}} Outs - {{.Text}}
{{end}}{{end}}
{{- if (or .IncludeScoringPlays .IncludePlays)}}
{{.ScoringPlays}}{{end}}
{{- with .Game.File}}
{{range $key, $value := .Properties}}
{{- if (eq $key "comments" "start" "timelimit")}}
* {{$key}} - {{$value}}
{{- end}}
{{- end}}
{{end}}
