{{.Game.Date}} game {{.Game.Number}} {{.Game.Visitor}} at {{.Game.Home}} 

{{.InningScoreTable}}
{{paste .VisitorLineup.BattingTable .HomeLineup.BattingTable 4}}
{{- paste (execute "batting.tmpl" .VisitorLineup) (execute "batting.tmpl" .HomeLineup) 4 36}}
{{paste .VisitorLineup.PitchingTable .HomeLineup.PitchingTable 4 36}}
{{- paste (execute "pitching.tmpl" .VisitorLineup) (execute "pitching.tmpl" .HomeLineup) 4 36}}
{{range .Comments}}{{.Half}} {{ordinal .Inning}}, {{.Outs}} Outs, {{.Batter}} at bat - {{.Text}}
{{end}}
{{range .Game.Comments}}Comment - {{.}}
{{end}}
{{- with .Game}}
Start - {{.Start}}
Time Limit - {{.TimeLimit}}
{{if .Venue}}Venue - {{.Venue}}{{end}}
{{end}}

