# {{.Game.Visitor}} at {{.Game.Home}} 
{{.Game.Date}} game {{.Game.Number}}

{{.InningScoreTable}}
{{paste .VisitorLineup.BattingTable .HomeLineup.BattingTable 1 44}}
{{paste (execute "batting.tmpl" .VisitorLineup) (execute "batting.tmpl" .HomeLineup) 1 44}}
{{- paste .VisitorLineup.PitchingTable .HomeLineup.PitchingTable 1 -44}}
{{paste (execute "pitching.tmpl" .VisitorLineup) (execute "pitching.tmpl" .HomeLineup) 1 44}}
{{if (not (or .IncludePlays .IncludeScoringPlays))}}
{{- range .Comments}}{{.Half}} {{ordinal .Inning}}, {{.Outs}} Outs, {{.Batter}} at bat - {{.Text}}
{{end}}{{end}}
{{- range .Game.Comments}}* {{.}}
{{end}}
{{- if (or .IncludeScoringPlays .IncludePlays)}}
{{.ScoringPlays}}{{end}}
{{- with .Game}}
* Start - {{.Start}}
* Time Limit - {{.TimeLimit}}
{{if .Venue}}* Venue - {{.Venue}}{{end}}
{{end}}

